* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --btn-color: #2e80ce;
}

html,
body {
  scroll-behavior: smooth;
  height: 5000px;
  background-color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
a {
  text-decoration: none;
}

/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 60px;

  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  min-width: 205px;
  height: var(--height);
  border: 1px solid var(--btn-color);
  padding: 0 20px;
  border-radius: 99px;
  line-height: var(--height);
  text-align: center;
  color: #fff;
  background: var(--btn-color);
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.section-heading {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #10375c;
}
.section-desc {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 1.8rem;
  color: #575f66;
}

/* Header */
.header {
  padding-top: 30px;
  height: 100vh;
  background-color: var(--primary-color) !important;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-flex;
  position: relative;
  font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}
.logo__circle::before {
  width: 3em;
  height: 3em;
  background: var(--btn-color);
}
.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}
.logo__text {
  margin-left: 0.6em;
  color: #fff;
  text-align: right;
}
.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
}
.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
}

/* Navbar */
.navbar {
}
.navbar__list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navbar__item {
}
.navbar_link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}

.navbar_link--active,
.navbar_link:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar_link--active::before {
  position: relative;
  top: -2px;
  left: -6px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Action */
.action {
  display: flex;
  align-items: center;
}
.action__login {
  padding: 4px 0;
  margin-right: 28px;
  color: #c9d2da;
  text-align: center;
}
.action__signup {
  --height: 44px;
  border-color: var(--btn-color);
  min-width: 104px;
  padding: 0 20px;
}
/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-top: 76px;
}

.hero__content {
  width: 44%;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.hero__desc {
  margin-top: 22px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero__phone {
  margin-left: 38px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #fff;
}

.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
  z-index: 2;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
  margin-left: -6px;
  z-index: 1;
}
/* Service */
.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}
.service-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 1.2rem;
}

.service__list {
  padding-bottom: 55px;
}

.service-item {
  display: flex;
  width: 470px;
  padding: 22px;
  border-radius: 1rem;
  background-color: #fff;
  transition: 0.25s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: #fff;
}

.service-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.045);
  background: #eff6fd;
  color: var(--primary-color);
}

.service-item__body {
  margin-left: 20px;
}

.service-item__heading {
  font-size: 1.8rem;
  line-height: 1.27;
  color: #10375c;
  font-weight: 600;
}

.service-item_desc {
  color: #575f66;
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
